.container {
	background-color: aliceblue;
}
.fieldName {
	width: 30px !important;
	border-right: 1px solid #ccc !important;
}
ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
   list-style-type: none;
}
table > tbody > tr > td{
    border-style: none;
}
.b-border {
	border-bottom: 1px solid #ccc;	
}
.fa-spin {
	font-size: 40px;
	margin-left: 30px;
}