<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr class="b-border">
					<td><h1><b>MY GITHUB RESUME</b></h1></td>
				</tr>
				<tr><td></td></tr>
				<tr>
					<td>
						<div class="row">
							<div class="col-md-8">
								<input type="text" id="username" #username class="form-control" placeholder="Enter your GitHub username and click on generate">
							</div>
						  	<div class="col-md-2">
						  		<a class="btn btn-primary" (click)="searchUser(username.value)"> Generate</a>
						  	</div>	
						</div>
									
					</td>
				</tr>
			</table>	
		</div>
	</div>
</div>